/* WeeklySchedule.css */
.scheduleContainer {
    width:90%;
    height: calc(100vh - 200px); /* Adjust this value if necessary */
    display: flex;
    flex-direction: column;
    background-color: #ffd1dc;
    padding: 40px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendarGrid {
    flex: 1;
    display: grid;
    grid-template-columns: 100px repeat(12, 1fr);
    background-color: #ffd1dc;
    max-height: 100%; /* Ensure it does not exceed the container's height */
}

.timeHeader {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 100px repeat(12, 1fr);
    background-color: #ffd1dc;
    position: sticky;
    top: 0;
    z-index: 2;
    font-weight: bold;
}

.dayColumn {
    display: contents;
}

.dayHeader {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #ffd1dc;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.timeHeaderCell {
    padding: 10px;
    text-align: center;
    background: #ffd1dc;
}

.timeSlot {
    min-height: 60px;
    position: relative;
}

.activityCard {
    padding: 4px;
    margin: 2px;
    background-color: #9E9E9E;
    border-radius: 4px;
    font-size: 0.9em;
    color: white;
}